<!DOCTYPE html>
<html>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
	<head>
		
		<title>{{user}}</title>
	</head>
	<body>
		{% if img_loc is not none %}
			{% for imgs in img_loc %}
				{% if imgs !='' %}
					{% if imgs[-4:]=='.jpg' %}
						<a class="lightbox" href="#{{imgs}}">
							<img class="myImg"src="{{url_for('static', filename= "users/"+user+'/'+imgs  )}}" width="20%" height="20%">
						</a>
						<div class="lightbox-target" id="{{imgs}}">
							<img class="myImg"src="{{url_for('static', filename= "users/"+user+'/'+imgs  )}}">
							
							<a class="lightbox-close" href="#"></a>
						</div>
					{% else %}
						<a class="lightbox" href="#{{imgs}}">
							<img class="myImg"src="{{url_for('static', filename= "users/"+user+'/'+imgs[:-4]+'.jpg'  )}}" width="20%" height="20%">
						</a>
						<div class="lightbox-target" id="{{imgs}}">
							<video class='myImg' controls width="20% !important"
								poster="{{url_for('static',filename='users/'+user+'/'+imgs[:-4]+'.jpg' )}}">
								<source class='myImg' src="{{url_for('static', filename= "users/"+user+'/'+imgs  )}}" type="video/mp4">
							</video>
							<a class="lightbox-close" href="#"></a>
						</div>
						
						
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif%}
	</body>
</html>